<%- include header %>
<form method="post">
  name：  <input type="text" name="name"/><br />
  pass：    <input type="password" name="password"/><br />
  password repeat：<input type="password" name="password-repeat"/><br />
  email：    <input type="email" name="email"/><br />
            <input type="submit" value="注册"/>
</form>
<%- include footer %>